<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downloadLink</key>
	<string>https://www.huaweicloud.com/product/meeting/download.html</string>
	<key>kMobilePhoneDialNumber</key>
	<string>021-53290005</string>
	<key>kMobilePhoneDialNumberCNAndEN</key>
	<string>021-53290029</string>
	<key>locationArray</key>
	<array>
		<string>LOCATION_01</string>
		<string>LOCATION_02</string>
		<string>LOCATION_03</string>
		<string>LOCATION_04</string>
		<string>LOCATION_05</string>
		<string>LOCATION_06</string>
		<string>LOCATION_07</string>
		<string>LOCATION_08</string>
		<string>LOCATION_09</string>
		<string>LOCATION_10</string>
		<string>LOCATION_11</string>
		<string>LOCATION_12</string>
		<string>LOCATION_13</string>
		<string>LOCATION_14</string>
		<string>LOCATION_15</string>
		<string>LOCATION_16</string>
		<string>LOCATION_17</string>
		<string>LOCATION_18</string>
		<string>LOCATION_19</string>
		<string>LOCATION_20</string>
		<string>LOCATION_21</string>
		<string>LOCATION_22</string>
		<string>LOCATION_23</string>
		<string>LOCATION_24</string>
		<string>LOCATION_25</string>
		<string>LOCATION_26</string>
		<string>LOCATION_27</string>
		<string>LOCATION_28</string>
		<string>LOCATION_29</string>
		<string>LOCATION_30</string>
		<string>LOCATION_31</string>
		<string>LOCATION_32</string>
		<string>LOCATION_33</string>
		<string>LOCATION_34</string>
	</array>
	<key>industryArray</key>
	<array>
		<string>INDUSTRY_01</string>
		<string>INDUSTRY_02</string>
		<string>INDUSTRY_03</string>
		<string>INDUSTRY_04</string>
		<string>INDUSTRY_05</string>
		<string>INDUSTRY_06</string>
		<string>INDUSTRY_07</string>
		<string>INDUSTRY_08</string>
		<string>INDUSTRY_09</string>
		<string>INDUSTRY_10</string>
		<string>INDUSTRY_11</string>
		<string>INDUSTRY_12</string>
		<string>INDUSTRY_13</string>
		<string>INDUSTRY_14</string>
		<string>INDUSTRY_15</string>
		<string>INDUSTRY_16</string>
		<string>INDUSTRY_17</string>
	</array>
</dict>
</plist>
